.footer
	background-color: #403E3B
	color: #fff
	padding: 0 0 10px 
	font-size: 10.4px 
	
	&-top
		margin-bottom: 15px 
		padding-top: 25px 

		p:not(:last-child)
			margin-bottom: 1em 
			

	&-bottom
		text-align: center
		font-size: 8.3px 
		

	.footer-icons
		padding: 5px 15px
		background-color: #1E1D1B
		display: flex
		align-items: center
		justify-content: center
		height: 45px
		
		img
			display: block
			max-height: 30px 
			margin: 0 15px
		


.quick-links
	ul
		display: flex
		align-items: center
		justify-content: center
		
		li
			list-style: none 
			
			&:not(:last-child)
				&:after
					content: '·'
					padding: 0 3px
			
			a
				color: inherit
				
				&:hover
					text-decoration: underline